.grid-button {
  padding: 1rem;
  width: 8rem;
  height: 5rem;
}

.navbar-brand {
  text-decoration: none;
}

.error {
  padding: 4rem;
  text-align: center;
}

footer {
  bottom: 0;
}

footer p {
  text-align: center;
}
