header.container-fluid
    nav
        a(href='/' class='navbar-brand')
            h1 Reservation Tool
        ul
            li 
                a(href='/') Items
            li
                a(href='/reservations') Reservations