div.grid
    div
        button Placeholder
    div
        button Placeholder
    div
        button Placeholder
    div
        button Placeholder
    div
        button Placeholder
    div
        button Placeholder
    div
        button Placeholder