doctype html
html(lang='en')
    head
        include ../components/head-metadata
        title Reservation Tool
    body 
        include ../components/header
        main.container
            article
                h1 #{code}
                p #{message}
        include ../components/footer 
