doctype html
html(lang="en")
    head
        include ../components/head-metadata
        title Reservation Tool
    body 
        include ../components/header
        main.container
            include ../components/items-grid
        include ../components/footer 
