doctype html
html(lang="en")
    head
        include ../components/head-metadata
        title Item
    body 
        include ../components/header
        main.container-fluid
            include ../components/item-details
            include ../components/form
            include ../components/confirmation
        include ../components/footer
