form(action='/reservation' method='POST' id='reservationForm')
    input(type='hidden' id='item' name='item' value=item.id)
    div.grid
        div
            label(for='reservation_date')
                strong Date
            input(type='date' id='reservation_date' name='reservation_date' aria-label='Date', required)
        div
            label(for='reservation_time')
                strong Time
            select(name='reservation_time' id='reservation_time' aria-label='Select a time', required, disabled)
                option(disabled selected, value='') Select a time
        div
            label(for='name')
                strong Full Name
            input(id='name' name='name' placeholder='Type your name...' autocomplete='given-name' aria-label='Full Name', required)
    input(type='submit' value='Reserve')

script.
    var reservations = !{JSON.stringify(reservations)}

script(src='/scripts/datePicker.js')
script(src='/scripts/dialogHandler.js')
script(src='/scripts/formHandler.js')