doctype html
html(lang='en')
    head
        include ../components/head-metadata
        title Reservation Tool - Error #{code}
    body 
        include ../components/header
        main.container
            article.error
                h1 #{code}
                p #{message}
        include ../components/footer 
