doctype html
html(lang='en')
    head
        include components/head-metadata
        title Reservation Tool
    body 
        include components/header
        main.container
            mixin itemsGrid(items)
                include components/items-grid
            +itemsGrid(items)
        include components/footer
