doctype html
html(lang='en')
    head
        include components/head-metadata
        title Reservation Tool - Reservations
    body 
        include components/header
        main.container
            mixin reservations(reservations)
                include components/reservations-list
            +reservations(reservations)
        include components/footer
